*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #fff; /* cuidado, "#ffff" tem um f a mais */
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1140px;
  box-sizing: border-box; /* garantir */
  width: 100%;
}
